@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image{
    background-image: url('./components/assests/home.jpg');
    background-size: cover;
    background-position: 20% 40%;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    position: relative;
    z-index: -1;
}